-extends "template.haml"
-block section "index"
-block hero
  %article.lead
    .lead-text
      .date= "June 26-July 14"
      %h2= "Let's build something fun this summer."
      %p
        Make this a great summer with interesting online workshops and speakers, and real-life mentoring to help you
        build an ambitious project.
-block content
  .details
    %p.lead Work with students across the world to build something fun.
    .info
      %p
        Nothing to do this summer? Work alongside students across the US to build an app or game of your own design.
        All students are welcome, even if you just started coding.
      %p
        It's also semi-virtual. We'll try to match you with a local mentor, but most events are online. You can
        participate no matter where you live, and can work alone or with a group of friends.

    .what
      %h2 What Happens During CodeBreak
      %img(src="/assets/img/project.png")
      %ul
        %li
          %strong Build Something Awesome
          Like CodeDay, the core of CodeBreak is about bringing your ideas to life.
        %li
          %strong Mentorship
          You'll be matched with your own mentor to help you complete your project, and to learn more about working
          in technology. Where possible, you will be matched with a local mentor, and have an opportunity to visit
          their office.
        %li
          %strong Real-Time Coding Help
          Get live coding help from our staff and volunteers whenever you need it through a 24/7 CodeBreak chat,
          and through regular office hours.
        %li 
          %strong Tech Talks
          Join us for online workshops where we dive deep into modern technologies.
        %li
          %strong Speakers
          Learn from industry veterans in live-streamed interviews.

    .schedule
      %h2 Schedule
      %img(src="/assets/img/professional.png")
      %table
        %thead
          %tr
            %td= "Monday"
            %td= "Tuesday"
            %td= "Wednesday"
            %td= "Thursday"
            %td= "Friday"
        %tbody
          %tr
            %td= "Kickoff and Mentor Meetings"
            %td= "Mentor Meetings"
            %td= "Tech Talk"
            %td= "Speaker"
            %td= ""
          %tr
            %td= "Mentor Meetings"
            %td= "Mentor Meetings"
            %td= "Tech Talk"
            %td= "Speaker"
            %td= "Prototype Day"
          %tr
            %td= "Mentor Meetings"
            %td= "Mentor Meetings"
            %td= "Tech Talk"
            %td= "Speaker"
            %td= "Demo Day"

  .sidebar
    .dates
      .date
        .month= "June"
        .day= "26"
      .thru= "to"
      .date
        .month= "July"
        .day= "14"

    .deadlines
      %ul
        %li Early registration ends June 1
        %li Late registration ends June 19

    %a.apply(href="/register")
      .cta= "Register Now"
      .deadline= "$12"
    %a.scholarship(href="mailto:contact@srnd.org")= "Email for scholarships"
